[submodule "docs.openzeppelin.com"]
	path = docs.openzeppelin.com
	url = https://github.com/OpenZeppelin/docs.openzeppelin.com.git
[submodule "docsify"]
	path = docsify
	url = https://github.com/docsifyjs/docsify.git
[submodule "honkit"]
	path = honkit
	url = https://github.com/honkit/honkit.git
